a{
    text-decoration: none;
    color: #0f0f0f;
}
h1{
    color: aliceblue;
    background: #0f0f0f;
    margin: 0;
    padding: 20px;
    border: none;
    border-bottom: #7f7f7f 5px solid;
    text-align: center;
}
nav{
    display: flex;
    background-color: #555;
    height: 80vh;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: none;
}
nav a {
    background-color: #7f7f7f;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    height: fit-content;
}